<h1><%= t(".title") %></h1>

<div class="d-flex justify-content-end">
  <%= link_to t("helpers.actions.back"), root_path, class: "btn btn-outline-primary" %>
</div>

<%= render "form", proponent: @proponent %>
